<!--{% extends "main.html" %}-->

<!--{% block content %}-->
<hr>
<h2 align="center">  Страница авторизованного пользователя {{request.user.username}}</h2>
<div align="center"> Здесь может содержаться персональная информация для каждого пользователя </div>
<hr>
<div align="center">
      <button> <a href="/newsall/abonent">Продолжить</a> </button>
</div>
<hr>
{% if is_not_authors %}
     <div align="center">
        <button> <a href="sign/upgrade/"> Хочу быть АВТОРОМ !</a> </button>
     </div>
{% endif %}

<!--{% endblock %}-->


